@using CopThis.Domain.Commands
@model IEnumerable<CopThis.Controllers.TicketRow>
@{
    ViewBag.Title = "Tickets";
}

<h2>Tickets</h2>

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LicensePlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeedExceededBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LicensePlate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeedExceededBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @using (@Html.BeginForm("Pay", "Tickets"))
                    {
                        @Html.AntiForgeryToken();
                        @Html.Hidden("TicketId", item.Id);

                        <input type="submit" value="Pay" class="btn" />
                        @Html.ActionLink("View", "View", new { id = item.Id }, new { @class = "btn-link" })
                    }
                </td>
            </tr>
        }

    </table>

</div>